@import "@fontsource/outfit";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-slate-900 bg-slate-50;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
  }
  .glass-panel-dark {
    @apply bg-slate-900/80 backdrop-blur-lg border border-slate-800/50 shadow-xl;
  }
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-600 to-secondary-500;
  }
}
